<!DOCTYPE html>
<html lang="en"> 

<head>
    <title>Daily Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

<body id="bg">
    <div class= "wrapper">
    <!-- Navbar -->
    <nav class= "navbar navbar-default navbar-expand-lg navbar-dark navbar-fixed-top">
        <a class="navbar-brand" href="/home">
            <img src="/css/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
             Giga Tech Limited
          </a>
        <!-- Links -->
        <ul class="navbar-nav ml-auto"> 
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Lunch
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/menu">Menu</a>
                    <a class="dropdown-item" href="/order">Order</a>
                    <a class="dropdown-item" href="/history">Order History</a>
                </div>
            </li>
            <!-- Links -->
            <li class="nav-item">
                <a class="nav-link" href="/report" >Report</a>
            </li>
            <li class= "nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
    </nav>

    <!-- Main body -->
    <div class= "container">
        <div>
            <h2 class="text-center" id= "titles">Daily Report</h2>
        </div>

        <form action= "/send-email" method= "post">
            <div class= "row"> 
                <div class="form-group col">
                    <label for="to"><b> Name: </b></label>
                    <input type="text" class="form-control" name="to"  required placeholder="eg. John Doe">
                </div>

                <div class="form-group col">
                    <label for="subject" id= "titles"><b>Date:</b></label>
                    <input type="text" class="form-control" name="subject" required placeholder="eg. 1/3/2020">
                </div>
            </div>

            <div class= "row">
                <div class="form-group col">
                    <label for="tasksAssigned" id= "titles"><b>Tasks Assigned:</b></label>
                    <textarea class="form-control" required name="tasksAssigned" rows="5"></textarea>
                </div>
                <div class="form-group col">
                    <label for="tasksCompleted" id= "titles"><b>Tasks Completed:</b></label>
                    <textarea class="form-control" required name="tasksCompleted" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="learnings" id= "titles"><b>My Learnings</b></label>
                <textarea class="form-control" required name="learnings" rows="8"></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>

    <div class="push"></div>
    </div>

    <footer class= "footer"> 
        Copyright &copy; 2020
    </footer>
    
    <!-- Script for jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Script for Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Script for Bootstrap plugins -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>